body {
    background-color: rgb(238, 189, 222);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.welcome-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 244, 225);
    border-radius: 10px;
}

.welcome-banner h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
}

.image {
    background-color: rgb(189, 192, 243);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0 0;
}

.image img {
    border-radius: 10px;
}

.weather {
    background-color: rgb(242, 244, 210);
    border-radius: 10px;
    padding: 5px;
    margin: 20px 0 0;
    text-align: center;
}